extends base

block title
    | History
block main

  div.container-fluid
        div.row-fluid( id="blockContent")

            div.span2(data-spy="scroll")
                div(id="navTags",lass="", style="position: fixed;")
                    ul(class="nav nav-pills nav-stacked")
                        li
                            a(href="/histor/01") Январь
                        li
                            a(href="/histor/02") Февраль
                        li
                            a(href="/histor/03") Март
                        li
                            a(href="/histor/04") Апрель
                        li
                            a(href="/histor/05") Май
                        li
                            a(href="/histor/06") Июнь
                        li
                            a(href="/histor/07") Июль
                        li
                            a(href="/histor/08") Август
                        li
                            a(href="/histor/09") Сентябрь
                        li
                            a(href="/histor/10") Октябрь
                        li
                            a(href="/histor/11") Ноябрь
                        li
                            a(href="/histor/12") Декабрь

            div.span10
                - d = new Date()
                - n = d.getHours()
                if n < 7
                    div.alert.alert-danger
                        | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
                else if  n >= 10
                    div.alert.alert-danger
                        | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
                else
                div.hero-unit
                    h1(style='text-align: left') История заказов
                    h3 для #{req.user.name} за все время
                    -sum = 0
                    -kum = 0
                each histor in histors
                 if histor.username == req.user.username
                    -sum += histor.total
                    -kum += histor.total-115
                h3 Итого на сумму #{sum} С учетом компенсации #{kum}
                .span5
                 table.table.table-bordered.table-striped
                    tr
                        th Название
                        th Количество
                        th Цена
                    each histor in histors
                        if histor.username == req.user.username

                         tr
                            th(colspan=2)= histor.day + ' ' +histor.month + ' ' + histor.year + ' г.'
                            th= histor.total
                         -i=0
                         while i<histor.dish.length
                             tr
                               td= histor.dish[i]
                               td= histor.quantity[i]
                               td= histor.price[i]
                               -i++