extends ../layout

block title
  | Rule da bid

block content
 .container
  - var action = '/bids'
  if (!bid.isNew)
   - action += '/'+bid.id
  .page-header
   h2 Система заявок

  .container
    .span12
     h3= bid.title
    .row-fluid
     .span2
      p= req.bid.users
      p= bid.createdAt
     .span10
      p= bid.body
    if req.user.username == "admin"
     if req.bid.status !== "В работе"
      form(action=action method="post")
       if(!bid.isNew)
        input(type='hidden', name='_method', value='put')
       button.btn(type="submit")
        Взять в работу
     form(action='/bids/#{bid.id}/del' method="post")   
      button.btn(type="submit") Закрыть заявку
    if req.bid.username == req.user.username
     if req.bid.status !== "В работе"
      .row-fluid
       .span12
        h3 Удалить заявку
        .row-fluid
         form(action="/bids/#{bid.id}/destroy" method="post")
          .span2
           legend(style="font-size: 12px") Комментарий
           button.btn(type="submit") Удалить
          .span10
           textarea.input-xlarge(name="delform" rows="4" cols="40" style="margin-left: 19px")
     else
      h4 
       Ваша заявка обрабатывается администратором
    else
     if req.bid.status == "В работе"
      h4
       Заявка обрабатывается администратором