extends base

block title
  | Manage bids

block main
  h2 Система заявок
  h1
   small Система заявок создана для НАС, мы можем создавать заявки по нашим запросам/нуждам
  if message != ''
    .alert.alert-error= message
  .span8    
   ul.nav.nav-tabs
    li.all 
      a(href="/bids") Активные
    li.waiting 
      a(href="/bids/wait") В ожидании
    li.inwork 
      a(href="/bids/work") В работе
    li.complete 
      a(href="/bids/complete") Выполненные
    if req.user.username == "admin"
     li.deleted
      a(href="/bids/del") Удаленные
  table.table.table-striped
    tr
      th Статус
      th Название
      th Создана
      th Пользователь
    each bid in bids
     if bid.status == "В ожидании"
      tr
        td= bid.status
        td
          a(href='/bids/#{bid.id}/edit')=bid.title
        td= dateShortMon(bid.createdAt)
        td= bid.users