extends base

block title
    | Order
block main
    //h2 Заказать
    div.hero-unit
        h1 Оформление заказа
    if message != ''
        .alert.alert-notice
            a.close(data-dismiss="alert", href="javascript:void(0)") x
            | #{message}
    h4 Частник:
    ul
        li +7-904-4426474
    h4 Абсолют:
    ul
        li тел: 312-112
        li тел/факс: 312-480
    table.table.table-striped
        caption
            | Заказ для
            strong  Абсолют
        tr
            th Стол №
            th Имя
            th Блюдо
            th Кол-во
            th Время
        each order in orders
            tr
                td= order.table
                td= order.username
                td= order.dish
                td= order.quantity
                td= order.time
    br
    a(href='/order/new') New Order
    //script(
        src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    //!= js('vendor/table')