extends base

block title
  | System users

block main
<<<<<<< HEAD:app/views/users/index_err.jade
    h2 Заказать
    if message != ''
        .alert.alert-notice
            a.close(data-dismiss="alert", href="javascript:void(0)") x
            | #{message}
    strong Частник:
        ul
            li +7-904-4426474
    strong Абсолют:
        ul
            li тел: 312-112
            li тел/факс: 312-480
    table.table.table-striped
        caption
            | Заказ для
            strong Абсолют
        tr
            th Стол №
            th Имя
            th Блюдо
            th Кол-во
            th Время
        each order in orders
            tr
                td( rowspan=3)= order.table
                td= order.username
                td= order.dish
                td= order.quantity
                td= order.time
=======
  h2 System users

  if message != ''
    .alert.alert-notice
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      | #{message}

  table.table.table-striped
    tr
      th Name
      th Username
      th Email
      th Created
    each user in users
      tr
        td
          div.pull-left.dropdown
            a(type="button", role="button", class="dropdown-toggle marL", data-toggle="dropdown", href="#") #{user.name}
            ul.dropdown-menu.pull-left( role='menu', aria-labelledby='dropdownMenu')
              li Name:
                p=user.name
              li.divider
              li Second name:
                p= user.lastName
              li.divider
              li Birth:
                p=user.birth
              li.divider
              li Username:
                p= user.username
              li.divider
              li E-mail:
                p=user.email
              li.divider
              li Last change:
                p= user.created.toDateString()
        td= user.username
        td= user.email
        td= user.created.toDateString()
>>>>>>> 608aa92c041307a639cf6a01b8b57b4180f5a4bf:app/views/users/index.jade
