extends base
block title
    | Order
block main
    h2 Заказать
    if message != ''
        .alert.alert-notice
            a.close(data-dismiss="alert", href="javascript:void(0)") x
            | #{message}
    strong Частник:
        ul
            li +7-904-4426474
    strong Абсолют:
        ul
            li тел: 312-112
            li тел/факс: 312-480
    table.table.table-striped
        caption
            | Заказ для
            strong Абсолют
        tr
            th Стол №
            th Имя
            th Блюдо
            th Кол-во
            th Время
        each order in orders
            tr
                td( rowspan=3)= order.table
                td= order.username
                td= order.dish
                td= order.quantity
                td= order.time