extends base

block title
  | Меню

block main

  script
    :coffeescript
      $(document).ready ->

      #
      #
        $("#menuTable .rowEda").each (i) ->
          number = i + 1
          $(this).find("td:first").text number
          return

      #
      #
        randTitle = ""
        randMoney = ""
        randType = ""

        arrTitle = ['q','w','e','r','t','y','u','i','o','p','a','s','d','f','g','h','j','k','l','z','x','c','v','b','n','m']
        arrMoney = [1,2,3,4,5,6,7,8,9,0]
        arrType = ["салат","первое","второе","гарнир","прочее"]

        randomEda = ->
          i = 0
          while i < 5
            randT = Math.round( Math.random() * 26)
            randTitle += arrTitle[randT]
            $('#addTitle').val(randTitle)
            i++

          i = 0
          while i < 3
            randM = Math.round( Math.random() * 10)
            randMoney += arrMoney[randM]
            $('#addMoney').val(randMoney)
            i++

          rand = Math.round( Math.random() * 5)
          randType += arrType[rand]
          $('#addType').val(randType)

      #
      #
        changeParam = ->
          sum = 0
          arr = []
          arrTab = []

          $('input[type = checkbox]').on 'click', ->

            if this.checked
              title = this.value.split(',')[0]
              val2 = this.value.split(',')[1]
              money = parseFloat(val2)

              sum += money
              arr.push('<li>' + title + '</li>')
              arrTab.push( [title, money])

              $('#miniList').css('display', 'block')
              $('#miniList ul').text('Заказ на сумму: ' + sum).append(arr)

            else
              title = this.value.split(',')[0]
              val2 = this.value.split(',')[1]
              money = parseFloat(val2)

              sum -= money
              $('#miniList ul').text('Заказ на сумму: ' + sum)
              del = $.inArray("""<li>" + title + "</li>""" , arr)
              delTab = $.inArray( [title, money], arr)

              arr.splice(del)
              arrTab.splice(delTab)
              $('#miniList ul').text('Заказ на сумму: ' + sum).append(arr)

            if (sum != 0)
              $('#miniBtn').css("display", "block")
            else
              $('#miniList').css('display', 'none')
              $('#miniBtn').css("display", "none")

          $('.zakazat').on 'click', ->
            console.log "done arrTab: ", arrTab
            $('#miniList').css('display', 'none')
            $('#miniBtn').css("display", "none")
            $('.zakazat').css("display", "none")
            $('#podtverdit').css("display", "block")
            $('#menuTable').remove()
            $('.menuList').prepend("""<table class="table-bordered table", id="menuTable"><tr id="headTable"><th>Название</th> <th>Цена</th><th>Колличество</th><th> Стоимость</th> </tr></table>""")

            size = arrTab.length
            itog = 0
            for i in [0...size]
              $('#menuTable').append( "<tr><td>" + arrTab[i][0] + "</td><td id=row" + i + "money>" + arrTab[i][1]+ "</td><td><input id=row" + i + " class=roww type=number name=quantity min=0 value=1></td><td class=row" + i + "stoim>" + arrTab[i][1] + "</td><td style=display:none><input name=title value=" + arrTab[i][0] + "><input class=row" + i + "stoimVal name=money value=" + arrTab[i][1] + "></td></tr>")
              itog += arrTab[i][1]

            $('#menuTable').append( "<tr><th colspan=3>Итого</th><th id=itog>" + itog + "</th></tr>" )

            $('.roww').on 'click', ->
              id = this.id
              quantity = $('#' + id ).val()
              stoim = $('#' + id + 'money').text()
              sum = quantity * stoim
              $('.' + id + 'stoim').text(sum)
              $('.' + id + 'stoimVal').val(sum)

              changeItog = 0
              for i in [0...size]
                newI = $('.row' + i + 'stoimVal').val()
                parse = parseFloat(newI)
                changeItog += parse

              $('#itog').text(changeItog)

        changeParam()
        randomEda()
        return

  if message != ''
      .alert.alert-notice
        a.close(data-dismiss="alert", href="javascript:void(0)") x
        | #{message}

    div.container-fluid
      div.row-fluid( id="blockContent")

        div.span2(data-spy="scroll")
          div(id="navTags", style="position: fixed;")
            ul(class="nav nav-stacked")
              li
                a(href="#salat") Салат
              li
                a(href="#first") Первое
              li
                a(href="#second") Второе
              li
                a(href="#garnir") Гарнир
              li
                a(href="#other") Прочее

        div.span10
          - d = new Date()
          - n = d.getHours()
          if n < 7
            div.alert.alert-danger
                | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
          else if  n >= 10
            div.alert.alert-danger
                | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00

          div.hero-unit
            h1(style="text-align: left") Меню на #{dateShortMon(new Date())}
            p
            p Меню для Абсолют

          div.span5
            form.menuList(action='/order', method='post', class="form-horizontal")
              table.table.table-bordered#menuTable
                thead
                  tr#headTable
                    th №
                    th Название
                    th Цена
                    th Заказать
                    if req.user.username == "admin"
                      th Удалить *admin
                tbody
                  tr#salat(style="border: solid 1px #000")
                    th(colspan="5") Салат
                    each eda in edas
                      if eda.type == "салат"
                        tr.rowEda
                          td
                          td= eda.title
                          td= eda.money
                          td(style="text-align: center")
                            input(name="check", type="checkbox", value= [[eda.title],[eda.money]])
                          if req.user.username == "admin"
                            td(style="text-align: center")
                              a.delEda(href="/delEda/#{eda._id}/del") X

                  tr#first(style="border: solid 1px #000")
                    th(colspan="5") Первое
                    each eda in edas
                      if eda.type == "первое"
                        tr.rowEda
                          td
                          td= eda.title
                          td= eda.money
                          td(style="text-align: center")
                            input(name="check", type="checkbox", value=[eda.title, eda.money])
                          if req.user.username == "admin"
                            td(style="text-align: center")
                              a.delEda(href="/delEda/#{eda._id}/del") X

                  tr#second(style="border: solid 1px #000")
                    th(colspan="5") Второе
                    each eda in edas
                      if eda.type == "второе"
                        tr.rowEda
                          td
                          td= eda.title
                          td= eda.money
                          td(style="text-align: center")
                            input(name="check", type="checkbox", value=[eda.title, eda.money])
                          if req.user.username == "admin"
                            td(style="text-align: center")
                              a.delEda(href="/delEda/#{eda._id}/del") X

                  tr#garnir(style="border: solid 1px #000")
                    th(colspan="5") Гарнир
                    each eda in edas
                      if eda.type == "гарнир"
                        tr.rowEda
                          td
                          td= eda.title
                          td= eda.money
                          td(style="text-align: center")
                            input(name="check", type="checkbox", value=[eda.title, eda.money])
                          if req.user.username == "admin"
                            td(style="text-align: center")
                              a.delEda(href="/delEda/#{eda._id}/del") X

                  tr#other(style="border: solid 1px #000")
                    th(colspan="5") Прочее
                    each eda in edas
                      if eda.type == "прочее"
                        tr.rowEda
                          td
                          td= eda.title
                          td= eda.money
                          td(style="text-align: center")
                            input(name="check", type="checkbox", value=[eda.title, eda.money])
                          if req.user.username == "admin"
                            td(style="text-align: center")
                              a.delEda(href="/delEda/#{eda._id}/del") X

              input.zakazat.btn.btn-primary(type="button", value="Заказать")
              button#podtverdit.btn.btn-primary(type='submit') Подтвердить заказ


        div#miniList( style="position: fixed; left:15px; bottom: 30px" )
          ul(style="font-weight: bold;")
          input#miniBtn.zakazat.btn.btn-primary(type="submit", form="menuList", value="Заказать")

        if req.user.username == "admin"
          .container
            div(style="background-color: #cdcdcd; width: 400px; padding: 30px; margin: 30px")
              form(action='/menu', method='post')
                h2 Добавить еду *admin
                p
                  label Название
                    br
                    input#addTitle(name='title', type='text', value=randTitle)
                p
                  label Цена
                     br
                     input#addMoney(name='money', type='text', value="123")
                p
                  label Тип
                     br
                     select#addType(name='type')
                       option салат
                       option первое
                       option второе
                       option гарнир
                       option прочее
                p
                  br
                  button#addEda.btn.btn-primary(type='submit') Дoбавить блюдо